@use "../../styles/utility";
@use "../../styles/tokens";

.hero-section {
  @extend .flex-v-centered;
  margin: 1rem auto;
  margin-bottom: 5rem;

  .hero-text {
    @extend .flex-v-centered;
    // margin: 0.5rem 25%;

    .hero-text--content {
      font-size: 1.1rem;
      font-weight: 400;
      text-align: justify;
      text-align: center;
      // margin: 0 10%;
      margin: 0.5rem 25%;
      margin-bottom: 1rem;
    }

    .hero-text--cta {
      button {
        padding: 1rem 3.5rem;
        margin: 1rem 0;
        border: 0px;
        border-radius: 50px;
        background-color: tokens.$primary;
        color: tokens.$secondary;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.9rem;
        letter-spacing: 1px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .hero-logos {
    @extend .flex-centered;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    margin: 0 20%;
    margin-top: 2rem;

    img {
      max-width: 10%;
    }

    img.ust {
      width: 2.5rem;
    }

    img.jpmc {
      width: 5rem;
    }
  }

  .hero-byline {
    color: tokens.$subtext;
    margin: 1.5rem 35%;
    font-size: 1.2rem;
  }

  .hero-image {
    padding: 1rem 0;
  }
}
