// colors
$primary: #1d1d1d;
$secondary: #e2e2e2;
$tertiary: rgba(29, 29, 31, 60%);
$accent: #3bb4b1;

// Will be helpful in implementing theming later
$background: $secondary;
$text-color: $primary;
$subtext: $tertiary;
