@use "../styles/utility";
@use "../styles/tokens";

.mkt-cmp {
  @extend .flex-v-centered;
  img {
    max-width: 50%;
  }
  //   div.title-text:nth-child(4) > div:nth-child(1) {
  //     max-width: 70%;
  //   } 

  .side-by-side {
    margin-bottom: 2rem;
  }
}

.mkt-grid {
  max-width: 75%;
  height: fit-content;
}

.adv-grid {
  @extend .flex-centered;
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  gap: 3rem;
  align-items: start;
  margin: 5rem 0;

  .grid-card {
    @extend .flex-v;
    width: 40%;
    text-align: left;

    img {
      max-width: 30%;
      padding: 1.5rem;
      padding-left: 0;
    }

    .grid-card--title {
      font-size: 1.7rem;
      font-weight: 600;
    }

    .grid-card--content {
      width: 70%;
    }
  }
}

.packages {
  @extend .flex-v-centered;
  padding: 1rem 0;

  .packages-cards{
    @extend .flex-centered;

    .packages-grid {
      padding: 0.5rem;
      width: 20%;
    }
  }


  .packages-content {
    padding: 2rem 0;
    margin: 0 20%;
  }
}

.team {
  margin: 2rem 0;

  .team-members {
    width: 70%;
  }
}

.szh-accordion {
  @extend .flex-v-centered;

  .szh-accordion__item {
    @extend .flex-v-centered;
    max-width: 70%;
  
    .szh-accordion__item-btn {
      width: 70vw;
      border-radius: 5px;
      padding: 1.2rem;
      margin: 0.25rem 0;
      text-align: left;
      font-weight: 700;
      border: 1px solid #bdbdbd;
      background-color: #fff;
  
      &:hover {
        cursor: pointer;
      }
    }
  
    .szh-accordion__item-content {
      max-width: 70%;
      text-align: center;
      text-align: left;
    }
  }

}


.extended-footer {
  .hiw-img {
    max-width: 70%;

    &:hover {
      cursor: pointer;
    }
  }


  .build-footer {

    margin: 10rem 0;

    .cta-footer {
      button {
        padding: 1rem 2.5rem;
        margin: 1rem;
        width: 20%;
        border: 0px;
        border-radius: 50px;
        background-color: tokens.$primary;
        color: tokens.$secondary;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.9rem;
        letter-spacing: 1px;
        background-color: #6FEAE7;
        color: #000;
  
        &:hover {
          cursor: pointer;
        }
  
        &:last-child {
          background-color: #8C8C8C;
          color: #fff;
        }
      }
    }
  }
  
  }
  
